* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img-placeholder {
    width: 15px;
    height: 15px;
    background-color: black;
    margin-right: 20px;
    justify-self: end;
}

a {
    color: white;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.actions > button {
    width: max-content;
    height: max-content;
}

.announcements {
    background-color: indianred;
    display: grid;
    grid-template-rows: repeat(3, minmax(75px, 1fr));
    padding: 25px;
}

.announcements-container {
    background-color: darkblue;
    grid-area: announcements-container;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.bell {
    grid-area: bell;
}

.branding {
    grid-area: branding;
    display: grid;
    grid-template-rows: repeat(3, max-content);
}

.container {
    min-height: 100vh;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 125px 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content-container";
}

.content-container {
    background-color: gray;
    padding: 15px;
    grid-area: content-container;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "project-container announcements-container"
    "project-container trending-container";
    column-gap: 15px;
    row-gap: 25px;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    grid-template-areas: 
    "user-pic small-text"
    "user-pic big-text";
}

.greeting-pic {
    justify-self: center;
}

.greeting-text-big {
    grid-area: big-text;
}

.greeting-text-small {
    grid-area: small-text;
}

.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    column-gap: 10%;
}

.list-container {
    padding: 10%;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: repeat(6, max-content);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: white;
    width: 100%;
    padding: 25px;
}

.project-container {
    grid-area: project-container;
    display: grid;
    grid-template-rows: min-content 6fr;
}

#search {
    height: 30px;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

.sidebar {
    background-color: blue;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "head"
    "nav"
    "branding";
    gap: 20px;
}

.sidebar-head {
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 22px;
    color: white;
}

.trending-container {
    background-color: darkgoldenrod;
    grid-area: trending-container;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.trendings {
    background-color: indigo;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 25px;
}

.trendings > div {
    color: red;
}

ul {
    list-style: none;
    gap: 15px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: "bell user-pic username";
}

.user-pic {
    grid-area: user-pic;
}

.username {
    grid-area: username;
}