@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Smooch Sans', sans-serif;
}
/* Start of announcement styling */
.announcement > div {
    color: rgb(119, 119, 119);
    font-size: 1.1vw;
}

.announcement > h4 {
    margin-bottom: 5px;
    padding-top: 3px;
    font-size: 1.2vw;
    font-weight: bold;
}

.announcements {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(300px, 20vw);
    grid-template-rows: 1fr 1fr 1fr;

}

.announcements > div:nth-child(2){
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    padding: 10px 0px;
    margin: 10px 0px;
}

.announcements-container {
    grid-area: announcements-container;
    display: grid;
    grid-template-rows: min-content minmax(max-content, 400px);
    grid-template-columns: minmax(200px, 20vw);
    justify-self: end;
}
/* End of announcements styling */
/* Start of container styling */
.container {
    min-height: 100vh;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 125px 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content-container";
}

.content-container {
    background-color: #c5c5c5;
    padding: 15px;
    grid-area: content-container;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "project-container announcements-container"
    "project-container trending-container";
    column-gap: 15px;
    row-gap: 25px;
}

.content-container > div {
    row-gap: 8px;
}

.content-title {
    font-size: 26px;
    font-weight: 400;
    padding-left: 5px;
}
/* End of container styling */
/* Start of header styling */
.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    column-gap: 10%;
    padding: 15px 35px;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.actions > button {
    appearance: none;
    width: max-content;
    height: max-content;
    padding: 5px 25px;
    background-color: #C8B8DB;
    border: 2px solid #70587C;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    transition: 0.5s;
}

.actions > button:hover {
    background-color: #70587C;
    border-color: #C8B8DB;
    transform: scale(1.1);
}

.bell {
    grid-area: bell;
}

.greeting {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-areas: 
    "greet-pic small-text"
    "greet-pic big-text";
    column-gap: 15px;
}

.greeting-pic {
    grid-area: greet-pic;
    justify-self: center;
}

.greeting-text-big {
    grid-area: big-text;
    font-size: 24px;
    font-weight: 900;
}

.greeting-text-small {
    grid-area: small-text;
    font-size: 14px;
    align-self: end;
}

#search {
    grid-area: search;
    height: 30px;
    outline: none;
    border-radius: 15px;
    padding-left: 15px;
    border: 2px solid #70587C;
    transition: 0.25s;
}

#search:hover,
#search:focus {
    border-color: #C8B8DB;
}

.search-container {
    display: grid;
    grid-template-columns: min-content;
    align-items: center;
    grid-template-areas: "svg search";
}

.search-container > svg {
    grid-area: svg;
    height: 30px;
    justify-self: end;
    padding-right: 10px;
}

ul {
    list-style: none;
    gap: 15px;
}

.user {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    justify-content: center;
    grid-template-areas: "bell user-pic username";
    gap: 35px;
}

.user-pic {
    grid-area: user-pic;
    display: flex;
    align-content: center;
}

.username {
    grid-area: username;
    font-size: 24px;
    font-weight: bold;
}
/* End of Header styling */
/* Start of Project styling */
.project-container {
    grid-area: project-container;
    display: grid;
    grid-template-rows: min-content 6fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: 20px;
}

.project-item {
    background-color: white;
    width: 100%;
    padding: 25px;
    border-left: 10px solid #502F4C;
    border-radius: 10px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 4px;
    transition: 0.5s;
}

.project-item:hover {
    transform: scale(1.02);
    box-shadow: 6px 4px 5px #C8B8DB;
}

.project-item > h4 {
    font-size: 1.5em;
}

.project-item > div:first-of-type {
    color: rgb(119, 119, 119);
    font-size: 1.12em;
}

.project-buttons {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: flex-end;
}

.project-buttons > button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    max-width: 30px;
}

.project-buttons > button > svg {
    min-height: 27px;
    min-width: 27px;
    height: 100%;
    width: auto;
    transition: 0.25s;
}

.project-buttons > button > svg:hover {
    transform: scale(1.2);
}
/* End of project styling */
/* Start of sidebar styling */
.sidebar {
    background-color: #70587C;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "head"
    "nav"
    "branding";
    gap: 20px;
}

.branding {
    grid-area: branding;
    display: grid;
    grid-template-rows: repeat(3, max-content);
}

.list-container {
    padding: 10%;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: repeat(6, min-content);
}

.nav > li > a,
.branding > li > a {
    text-decoration: none;
    color: #F9E0D9;
    transition: 0.25s;
    font-size: 22px;
    display: flex;
    gap: 10px;
}

.nav > li > a:hover,
.branding > li > a:hover {
    padding-left: 5px;
    text-decoration: underline;
}

.sidebar-head {
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10%;
    font-size: 30px;
    height: min-content;
    color: #F9E0D9;
}

.sidebar-head > svg {
    max-width: 2em;
}
/* End of sidebar styling */
/* Start of trending styling */
.trend {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "trend-pic div"
    "trend-pic div";
    row-gap: 4px;
}

.at {
    align-self: end;
    font-size: 18px;
    font-weight: bold;
}

.trending-project {
    align-self: start;
    color: rgb(119, 119, 119);
    font-size: 17px;
}

.trend-pic {
    grid-area: trend-pic;
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
}

.trending-container {
    grid-area: trending-container;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.trendings {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 25px;
    border-radius: 10px;
}
/* End of trending styling */